@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,100&display=swap");
@import "reset.css";
@import "variables.css";
/*components*/
@import "components/navbar.css";
@import "components/statusbar.css";
@import "components/badge.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
/*screen*/
@import "screen/find.css";
@import "screen/friends.css";
@import "screen/chat-screen.css";
@import "screen/chat.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chats.css";
@import "screen/login.css";
@import "screen/profile.css";

body {
  font-family: "Roboto Mono", monospace;
  overflow-x:hidden ;
}

@media screen and (max-width:499px)  {
  .first-layer {
    width: 400px;
    height: 400px;
    animation: firstLayer 1s linear forwards;
  }
  
  .second-layer {
    width: 320px;
    height: 320px;
    animation-delay: 1s;
  }
  
  .third-layer {
    width: 240px;
    height: 240px;
    animation-delay: 2s;
  }
  
  .fourth-layer {
    width: 160px;
    height: 160px;
    animation-delay: 3s;
  }
  
  .blue-circle {
    width: 80px;
    height: 80px;
    background-color: #283b42;
    border-radius: 50%;
  }
  
  .blue-circle img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: imageShow 5s linear forwards;
  }

  .profile-music {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #4ddb76;
    font-size: 12px;
    cursor: pointer;
  }
}