@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,100&display=swap");
@import "reset.css";
@import "variables.css";
/*components*/
@import "components/navbar.css";
@import "components/statusbar.css";
@import "components/badge.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
/*screen*/
@import "screen/find.css";
@import "screen/friends.css";
@import "screen/chat.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chats.css";
@import "screen/login.css";
@import "screen/profile.css";

body {
  font-family: "Roboto Mono", monospace;
  overflow-x:hidden ;
  box-sizing: border-box;
}

@media screen and (max-width:450px) and (min-width:420px){
  :root{
    --font-large:24px;
  --font-medium:16px;
  --font-regular:12px;
  --font-small:10px;
  --font-tiny:6px;
  }
  .friends-main{
    top:80px;
  }
  .user-component__avatar--xl{
    width: 85px;
    height: 85px;
  }

  .user-component__avatar--md{
    width:70px;
    height: 70px;
  }

  .user-component__avatar--sm{
    width: 55px;
    height: 55px;
  }

  .icon-row-icons{
    padding:8px;
  }
}

@media screen and (max-width:420px) {
  :root{
    --font-large:24px;
  --font-medium:16px;
  --font-regular:12px;
  --font-small:10px;
  --font-tiny:6px;
  }
  .friends-main{
    top:80px;
  }
  .user-component__avatar--xl{
    width: 75px;
    height: 75px;
  }

  .user-component__avatar--md{
    width:55px;
    height: 55px;
  }

  .user-component__avatar--sm{
    width: 45px;
    height: 45px;
  }

  .profile-music{
    padding:4px;
  }
}