@import "reset.css";

@import "variables.css";
@import "components/welcome.css";
@import "components/navbar.css";
@import "components/statusbar.css";
@import "components/friends.css";
@import "components/chats.css";
@import "components/badge.css";
@import "components/find.css";
@import "components/more.css";
@import "components/settings.css";
@import "components/chat.css";

@import "screen/screen.css";
@import "screen/setting-screen.css";
@import "screen/chat-screen.css";
@import "screen/phonescreen.css";

.media {
  display: none;
}

@media screen and (min-width: 600px) {
  .media {
    background-color: #1a2b53;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 30px;
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
  }
  .media span {
    padding: 10px;
    border: 2px solid var(--white);
  }

  .splash {
    display: none;
  }

  .media-friends {
    background-color: #1a2b53;
    display: flex;
    color: azure;
    font-size: 30px;
    position: absolute;
    top: 0;
    z-index: 99;
    height: 200vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .media-friends span {
    position: absolute;
    z-index: 99;
    top: 200px;
    padding: 30px;
    border: 2px solid var(--gray);
  }
}

@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
