.friends-main {
  position: absolute;
  top: 113px;
  display: flex;
  flex-direction: column;
  height: 155vh;
  width: 100%;
  background: linear-gradient(to right, #f0f5f9, #ebf1fd);
}

.friends-display-link {
  z-index: 1;
  text-align: center;
  font-size: 20px;
  color: var(--black);
  opacity: 0.5;
  background-color: var(--blue);
  padding: 17px 0px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  top: 0px;
}

@keyframes dragonMove {
  0% {
    transform: none;
  }
  15% {
    opacity: 0.5;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(500px);
  }
}

.friends-display-link .fa-dragon {
  position: absolute;
  left: 10px;
  top: 14px;
  animation: dragonMove 10s ease-in-out infinite;
}

.friends-main__channel {
  display: flex;
  flex-direction: column;
  padding: 5px var(--horizontal-space);
  padding-bottom: 20px;
  color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.friends-main__channel__title {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px var(--horizontal-space);
}

.friends-main__channel__channels {
  opacity: 0.5;
}

.friends-main__channel__channels span {
  margin-right: 5px;
}

.friends-main__channel__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.friends-main-lists {
  padding: 15px var(--horizontal-space);
}

.friends-main-lists-title {
  color: rgba(0, 0, 0, 0.5);
  padding: 0px var(--horizontal-space);
  margin-bottom: 10px;
}

.friends-main__list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--black);
}

.friends-main__list:hover {
  animation: shadow-pop-br 0.5s forwards ease-in-out;
}
