.setting-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 40px;

  box-sizing: border-box;
}

.setting-screen__column {
  width: 33%;
}

.setting-screen__column:first-child {
  margin-left: 20px;
}
.setting-screen__column:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.setting-screen__column:last-child {
  margin-right: 20px;
}

.setting-screen__column:last-child i {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
