.more-main {
  position: absolute;
  top: 119px;
  height: 160vh;
  width: 100%;
}

.more-icon i {
  color: tomato;
  margin-right: 10px;
}

.more-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

@keyframes vibe {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transfotm: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.more-pay-row:first-child {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 85%;
  margin-bottom: 10px;
}

.more-pay-text {
  opacity: 0.8;
}

.more-pay-row__column:first-child i {
  margin-right: 5px;
}

.more-pay-row:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.more-pay-row__column:first-child {
  padding: 5px;
  border-radius: 10px;
}

.more-pay-row__column:last-child {
  display: flex;
  justify-content: space-between;
}

.more-pay-row__column span {
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: dotted rgba(0, 0, 0, 0.1);
  display: block;
  cursor: pointer;
}

.vibe:hover {
  animation: vibe 0.3s linear infinite both;
}

.more-icons {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.more-icons__lists {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
}

.more-icons__lists-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.more-icons__lists-row:last-child {
  display: flex;
  align-items: center;
}

.more-icons__lists-row .icon-row__icon {
  height: 100px;
  width: 100px;
}

.more-icons__lists__icon {
  padding: 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-align: center;
  opacity: 0.6;
}

.more-icons__lists__icon i {
  margin-bottom: 10px;
}

.more-main__ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.more-main__ad-title {
  align-self: flex-start;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.more-main__ad-content:first-child {
  padding: 10px 0px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 90%;
  border: solid rgba(0, 0, 0, 0.2) 2px;
}

.more-main__ad-content {
  margin-bottom: 20px;
}

.more-main__ad-content:hover {
  animation: shadow-pop-br 1s ease-in-out forwards;
}

.more-main__ad-content:last-child {
  display: flex;
  width: 90%;
  background: var(--black);
  border-radius: 5px;
  justify-content: space-evenly;
  padding: 50px 0px;
  box-shadow: 0px 0px 3px;
}

.more-main__ad-content__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
  font-weight: bold;
}

.more-main__ad-content__column:last-child {
  border-radius: 50%;
  background-color: var(--white);
}
