.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--blue);
  padding: 20px 40px;
}

.navbar-lists {
  display: flex;
  justify-content: space-between;
}

@keyframes appearNavBar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.navbar-btn {
  color: var(--white);
  font-size: 13px;
}

.navbar-list {
  transform: translateY(60px);
  animation: appearNavBar 1s ease-in-out forwards;
}

.navbar-list:nth-child(2) {
  animation-delay: 0.5s;
  position: relative;
}

.navbar-list:nth-child(3) {
  animation-delay: 0.7s;
}

.navbar-list:last-child {
  animation-delay: 1s;
}

@keyframes coinFlip {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg) translateY(-10px);
  }
  100% {
    transform: none;
  }
}

.navbar-btn__badge {
  position: absolute;
  bottom: 12px;
  left: 18px;
  animation: coinFlip 3s infinite ease-in-out;
}

.navbar-list:nth-child(4) {
  position: relative;
}

.navbar-btn__dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 25px;
}
