body {
  width: 100%;
}

.setting-main {
  position: absolute;
  top: 80px;
  width: 90%;
}

.setting-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.setting-column {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px;
  font-size: 20px;
}

.setting-column:hover {
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.setting-column:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.setting-column:nth-child(3) > span {
  font-size: 15px;
  opacity: 0.2;
  margin-top: 10px;
  margin-left: 10px;
}

.setting-column i {
  padding-right: 10px;
}
