.alt-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 99vw;
  top: 28px;
  background-color: var(--blue);
  padding: 12px 8px;
  color: var(--white);
}

.alt-screen__column {
  width: 33%;
}

.alt-screen__column:first-child {
  margin-right: auto;
}

.alt-screen__column:nth-child(2) {
  text-align: center;
  font-size: var(--font-large);
}

.alt-screen__column:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;

}

.alt-screen__column:last-child i {
  font-size: var(--font-regular);
  display: flex;
  justify-content: flex-end;
}

.alt-screen__column span {
  margin-left: 10px;
}

.alt-screen__column i:hover {
  animation: iconGoup 1s ease-in-out infinite;
}
