.screen {
  position: fixed;
  top: 35px;
  z-index: 3;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

@keyframes titleScale {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: none;
  }
}

.screen-column:first-child span {
  font-size: 32px;
  display: block;
}

.screen-column:first-child span:hover {
  will-change: transfrom;
  animation: titleScale 0.8s ease-in-out infinite;
}

.screen-column-icons {
  display: flex;
}

.screen-column-icons i {
  padding: 20px;
  font-size: 18px;
}

@keyframes rotateCog {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes iconGoup {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  00% {
    transform: none;
  }
}

.screen-column-icons i:hover:not(.fa-cog) {
  animation: iconGoup 1s ease-in-out infinite;
}

.screen-column-icons a :hover {
  animation: rotateCog 2s linear infinite;
}
